* {
    outline: none !important;
}

.width_auto {
    width: auto !important;
}

.margin_top_2px {
    margin-top: 2px !important;
}

.border_lightgray {
    border: 1px solid #e5e5e5 !important;
}

.border_lightgray_nobottom {
    border: 1px solid #e5e5e5 !important;
    border-bottom: none !important;
}

.border_lightblue_nobottom {
    border: 1px solid #d1e0ee !important;
    border-bottom: none !important;
}

div.sapMBtnInner.sapMBtnAccept>.sapMBtnIcon {
    color: #2b7d2b !important;
}

div.sapMBtnInner.sapMBtnAccept.sapMToggleBtnPressed .sapMBtnIcon {
    color: white !important;
}

div.sapMBtnInner.sapMBtnReject>.sapMBtnIcon {
    color: #bb0000 !important;
}

div.sapMBtnInner.sapMBtnReject.sapMToggleBtnPressed .sapMBtnIcon {
    color: white !important;
}

.orange_button .sapMBtnInner,
.orange_button .sapMBtnInner:hover {
    border: 1px solid #e78c07;
}

.orange_button .sapMBtnInner .sapMBtnIcon,
.orange_button .sapMBtnInner:hover .sapMBtnIcon {
    color: #e78c07 !important;
}

.orange_button .sapMBtnInner.sapMToggleBtnPressed,
.orange_button .sapMBtnInner.sapMBtnActive {
    border: 1px solid #e78c07 !important;
    background-color: #e78c07 !important;
}

.orange_button .sapMBtnInner.sapMToggleBtnPressed .sapMBtnIcon,
.orange_button .sapMBtnInner.sapMBtnActive .sapMBtnIcon {
    color: white !important;
}

.green_button .sapMBtnInner,
.green_button .sapMBtnInner:hover {
    border: 1px solid green;
}

.green_button .sapMBtnInner .sapMBtnIcon,
.green_button .sapMBtnInner:hover .sapMBtnIcon {
    color: green !important;
}

.green_button .sapMBtnInner.sapMToggleBtnPressed,
.green_button .sapMBtnInner.sapMBtnActive {
    border: 1px solid green !important;
    background-color: green !important;
}

.green_button .sapMBtnInner.sapMToggleBtnPressed .sapMBtnIcon,
.green_button .sapMBtnInner.sapMBtnActive .sapMBtnIcon {
    color: white !important;
}

.red_button .sapMBtnInner,
.red_button .sapMBtnInner:hover {
    border: 1px solid #BC0A02;
}

.red_button .sapMBtnInner .sapMBtnIcon,
.red_button .sapMBtnInner:hover .sapMBtnIcon {
    color: #BC0A02 !important;
}

.red_button .sapMBtnInner.sapMToggleBtnPressed,
.red_button .sapMBtnInner.sapMBtnActive {
    border: 1px solid #BC0A02 !important;
    background-color: #BC0A02 !important;
}

.red_button .sapMBtnInner.sapMToggleBtnPressed .sapMBtnIcon,
.red_button .sapMBtnInner.sapMBtnActive .sapMBtnIcon {
    color: white !important;
}

.sapMITBContent {
    border-bottom: none !important;
}